[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-File
Comment=A PAR2 verification and repair application
GenericName=PAR2 Verification And Repair
Encoding=UTF-8
Exec=kpar2 %i %m -caption "%c"
Icon=kpar2
MimeType=application/x-par2;
Name=KPar2
Terminal=false
Type=Application
X-DBUS-ServiceName=com.googlecode.kpar2
X-DBUS-StartupType=Multi
X-DocPath=kpar2/index.html
X-KDE-HasTempFileOption=true
X-KDE-StartupNotify=true
