<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kpar2part" version="1">
    <MenuBar>
        <Menu noMerge="1" name="file">
            <Action name="file_open"/>
        </Menu>
        <Menu noMerge="1" name="settings">
            <Action name="options_configure"/>
        </Menu>
    </MenuBar>
    <ToolBar noMerge="1" name="mainToolBar">
        <Action name="file_open"/>
    </ToolBar>
</kpartgui>
