[Desktop Entry]
Encoding=UTF-8
Name=KPar2
Exec=kpar2 %i %m -caption "%c"
Icon=KPar2
Type=Application
DocPath=kpar2/kpar2.html
Comment=A PAR2 verification and repair application
MimeType=application/x-par2
Categories=Qt;KDE;Application;Utilities;X-KDE-Utilities-File
Terminal=false
