[Desktop Entry]
Encoding=UTF-8
Name=KPar2
Exec=kpar2 %i %m -caption "%c"
Icon=kpar2
Type=Application
DocPath=kpar2/kpar2.html
Comment=A PAR2 verification and repair application
Categories=Application;Utilities;
Terminal=false
