[Desktop Entry]
Encoding=UTF-8
Name=KPar2
GenericName=PAR2 Verification And Repair
Comment=A PAR2 verification and repair application
Icon=kpar2
MimeType=application/x-par2
X-KDE-Library=kpar2part
Type=Service
ServiceTypes=KParts/ReadOnlyPart,Browser/View
