[Desktop Entry]
Comment=A PAR2 verification and repair application
Encoding=UTF-8
GenericName=PAR2 Verification And Repair
Icon=kpar2
MimeType=application/x-par2
Name=KPar2
ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
X-KDE-Library=kpar2part