[Desktop Entry]
Icon=kpar2
InitialPreference=8
MimeType=application/x-par2;
Name=KPar2
Type=Service
X-KDE-Library=kpar2part
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
